h2 {
	padding: 1em 0 1em 0;
	text-align: center;
	background: purple;
}

body{
	margin: 0 auto;
	background: lightcoral;
}

main{
	background: lightblue;
}

ol {
	padding: 0;
	margin: 2rem;
}

li {
	display: grid;
	align-items: center;
	padding: 0.5rem 0;
	box-sizing: border-box;
	max-width: 100%;
}

li + li {
	border-top: 1px solid rgba(100, 100, 100, 0.5);
}

li a {
	text-decoration: none;
	font-family: consolas, sans-serif;
	font-size: 0.9rem;
}

@media (min-width: 700px){
	body{
		max-width: 80%;
	}
}