/*
    Colors
    old gold     #D5B942
    Straw        #D9D375
    Green Yellow #E3D#8F
    pale spring  #EDFBC1
    Ash Gray     #BFCBC2
*/


main{
    max-width: 99%;
    margin: 0 auto;
}

.top{
    background-image: url('../images/pexels-asad-photo-maldives-3601425.jpg') ;
    background-size: cover;
    background-color: #D5B942;
    border-radius: 20px 20px 0 0;
    min-height: 30vh;
    display: grid;
    padding: 2vh;
    margin-bottom: 0;
}
.refresh{
    border-radius: 20px;
    border: none;
    grid-column: 8/11;
    grid-row: 1;
}
.date{
    margin: 0;
    grid-row: 12;
    grid-column: 1/6;
    font-size: 48px;
}
.middle{
    overflow: hidden;
    margin-top: 0;
    min-height: 40vh;
    background: #D9D375;
}

.checked{
    background-image: url('../images/checked.svg');
    background-repeat: no-repeat;
}

.unchecked{                     
    background-image: url('../images/unchecked.svg');
    background-repeat: no-repeat;
}

img{
    max-height: 100%;
    max-width: 100%;
}
.list{
    padding: 0;
}

.todo-item{
    border-radius: 10px;
    margin: 0;
    margin-top: 1px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    max-height: 15vh;
    padding: .5vh;
    background: #D5B942;
    font-size: 3em;
}

.todo-text{
    padding-left: .3em;
}

.bottom{
    padding: 2vh;
    display:grid;
    grid-template-columns: 1fr 3fr;
    background: #D9D375;
}

.input, .addTodo{
    font-size: 20px;
    border: none;
    border-radius: 20px;
}

.input{
    background: #EDFBC1;
    padding-left: 5px;
    margin-left: 5px;
}

.remove-item{
    max-height: 100%;
}

footer{
    max-width: 99%;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    background: #BFCBC2;
    border-radius: 0 0 20px 20px;
    
}

@media (min-width: 700px){
    main, footer{
        max-width: 60%;
    }
}